@using MvcKutuphane.Models.Entity
@model List<Tbl_Kitap>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}


<h2>TÜM KİTAPLAR SAYFASI</h2>

<table id="tbl1" class="table table-bordered">
    <thead>
        <tr style="background-color: #e67e22">
            <th>ID</th>
            <th>KİTAP ADI</th>
            <th>KATEGORİ</th>
            <th>YAZAR ADI SOYADI</th>
            <th>BASIM YILI</th>
            <th>YAYINEVİ</th>
            <th>SAYFA SAYISI</th>
            <th>DURUM</th>
            <th>SİL</th>
            <th>GÜNCELLE</th>
        </tr>
    </thead>
    @foreach (var ktp in Model)
    {
        <tr>
            <td>@ktp.ID</td>
            <td>@ktp.AD</td>
            <td>@ktp.Tbl_Kategori.AD</td>
            <td>@ktp.Tbl_Yazar.AD &nbsp @ktp.Tbl_Yazar.SOYAD</td>
            <td>@ktp.BASIMYIL</td>
            <td>@ktp.YAYINEVI</td>
            <td>@ktp.SAYFASAYISI</td>

            @*<td>@ktp.DURUM</td>*@
            @if (@ktp.DURUM == true)
            {
                <td>Kütüphanede</td>
            }
            @if (@ktp.DURUM == false)
            {
                <td>Üyede</td>
            }

            @*Silme işlemini alert ile yapmak için*@
            <td>
                @Html.ActionLink("Sil", "KitapSil",
        new { id = ktp.ID },
        new
        {
        @class = "btn btn-danger",
        onclick = "return confirm('Silmek İstiyor musunuz?')"
        })
            </td>
            <td><a href="/Kitap/KitapGetir/@ktp.ID" class="btn btn-success">Güncelle</a></td>
        </tr>
    }

</table>
<a href="/Kitap/KitapEkle/" class="btn btn-primary">Yeni Kitap Ekle</a>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>


<link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>

<script>
    $('#tbl1').DataTable({
        "language": {
            "url": "//cdn.datatables.net/plug-ins/1.10.12/i18n/Turkish.json"
        }
    });
</script>