@model MvcKutuphane.Models.Entity.Tbl_Kitap

@{
    ViewBag.Title = "KitapEkle";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<form class="form-group" method="post">
    <div style="margin-top:15px">
        <label>KİTAP ADI</label>
        @Html.TextBoxFor(k => k.AD, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px">
        <label>KİTAP KATEGORİSİ</label>
        @Html.DropDownListFor(k => k.Tbl_Kategori.ID, (List < SelectListItem >) ViewBag.dgr1, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px">
        <label>KİTAP YAZAR</label>
        @Html.DropDownListFor(k => k.Tbl_Yazar.ID, (List<SelectListItem>)ViewBag.dgr2, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px">
        <label>BASIM YILI</label>
        @Html.TextBoxFor(k => k.BASIMYIL, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px">
        <label>YAYIN EVİ</label>
        @Html.TextBoxFor(k => k.YAYINEVI, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px">
        <label>SAYFA SAYISI</label>
        @Html.TextBoxFor(k => k.SAYFASAYISI, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info" id="Btn1">Kitap Kaydet</button>
    </div>
</form>

