@using MvcKutuphane.Models.Entity
@model List<Tbl_Uyeler>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>TÜM ÜYELER SAYFASI</h2>



<table id="tbl1" class="table table-bordered">
    <thead>
        <tr style="background-color: #e67e22">
            <th>ÜYE ID</th>
            <th>ÜYE ADI</th>
            <th>ÜYE SOYADI</th>
            <th>MAİL</th>
            <th>KULLANICI ADI</th>
            <th>ŞİFRESİ</th>
            <th>TELEFON</th>
            <th>OKUL</th>
            <th>SİL</th>
            <th>GÜNCELLE</th>
            <th>ÜYE KİTAP GEÇMİŞİ</th>
        </tr>
    </thead>

    @foreach (var uye in Model)
    {
        <tr>
            <td>@uye.ID</td>
            <td>@uye.AD</td>
            <td>@uye.SOYAD</td>
            <td>@uye.MAIL</td>
            <td>@uye.KULLANICIADI</td>
            <td>@uye.SIFRE</td>
            <td>@uye.TELEFON</td>
            <td>@uye.EGITIM</td>

            @*Silme işlemini alert ile yapmak için*@
            <td>
                @Html.ActionLink("Sil", "UyeSil",
           new { id = uye.ID },
           new
                    {
                        @class = "btn btn-danger",
           onclick = "return confirm('Silmek İstiyor musunuz?')"
                    })
            </td>
            <td><a href="/Uye/UyeGetir/@uye.ID" class="btn btn-success">Güncelle</a></td>
            <td><a href="/Uye/UyeKitapGecmisi/@uye.ID" class="btn btn-success" style="background-color:cadetblue">Kitap Geçmişi</a></td>
        </tr>
    }

</table>

@*sayfalama için*@
@*@Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("Index", new { sayfa }))*@

<a href="/Uye/UyeEkle/" class="btn btn-primary">Yeni Üye Ekle</a>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>


<link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>

<script>
    $('#tbl1').DataTable({
        "language": {
            "url": "//cdn.datatables.net/plug-ins/1.10.12/i18n/Turkish.json"
        }
    });
</script>


