@using MvcKutuphane.Models.Entity
@model List<Tbl_Hareket>
@{
    ViewBag.Title = "UyeKitapGecmisi";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Üye: @ViewBag.uyeadtasi</h2>
<br />
<table class="table table-bordered">
    <tr style="background-color: #e67e22">
        <th>ID</th>
        <th>KİTAP ADI</th>
        <th>ALDIĞI TARİH</th>
        <th>İADE TARİHİ</th>
        <th>İŞLEMİ YAPAN PERSONEL</th>

    </tr>

    @foreach (var x in Model)
    {
        <tr>
            <td>@x.ID</td>
            <td>@x.Tbl_Kitap.AD</td>
            <td>@Convert.ToDateTime(x.ALISTARIH).ToString("dd/MM/yyyy")</td>

            @if (@x.UYEGETIRTARIH == null)
            {
                <td>Okuyor...</td>
            }
            @if (@x.UYEGETIRTARIH != null)
            {
            <td>@Convert.ToDateTime(x.UYEGETIRTARIH).ToString("dd/MM/yyyy")</td>
            }
            <td>@x.Tbl_Personel.PERSONEL</td>
        </tr>
    }
</table>

