@using MvcKutuphane.Models.Entity
@model List<Tbl_Iletisim>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>SİTEYE GELEN MESAJLAR SAYFASI</h2>

@*@using (Html.BeginForm("Index", "Kitap", FormMethod.Get))
    {
        <div style="margin-bottom: 15px;margin-bottom: 15px;">
            <b>Aranacak Kitap Adını Girin: &nbsp</b>@Html.TextBox("p")
            <input type="submit" value="Ara" />
        </div>
    }*@



<table id="tbl1" class="table table-bordered">
    <thead>
        <tr style="background-color: #e67e22">
            <th>ID</th>
            <th>ADI SOYADI</th>
            <th>MAİL</th>
            <th>KONU</th>
            <th>İCERİK</th>
            <th>TARİH</th>
        </tr>
    </thead>
    @foreach (var X in Model)
    {
        <tr>
            <td>@X.ID</td>
            <td>@X.AD</td>
            <td>@X.MAIL</td>
            <td>@X.KONU</td>
            <td>@X.MESAJ</td>
            <td>@Convert.ToDateTime(X.TARIH).ToString("dd/MM/yyyy")</td>

        </tr>
    }

</table>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>


<link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>

<script>
    $('#tbl1').DataTable({
        "language": {
            "url": "//cdn.datatables.net/plug-ins/1.10.12/i18n/Turkish.json"
        }
    });
</script>

