@using MvcKutuphane.Models.Entity
@model List<Tbl_Mesajlar>

@{
    ViewBag.Title = "MesajDetay";
    Layout = "~/Views/Shared/_LayoutPanelim.cshtml";
}

<!DOCTYPE html>

<html>

<head>

    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>AdminLTE 3 | Read Mail</title>

    <!-- Tell the browser to be responsive to screen width -->

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Font Awesome -->

    <link rel="stylesheet" href="~/AdminLTE-3.0.4/plugins/fontawesome-free/css/all.min.css">

    <!-- Ionicons -->

    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

    <!-- Theme style -->

    <link rel="stylesheet" href="~/AdminLTE-3.0.4/dist/css/adminlte.min.css">

    <!-- Google Font: Source Sans Pro -->

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

</head>

<body>

    <!-- Content Wrapper. Contains page content -->
    <!-- Content Header (Page header) -->
    <!-- Main content -->

    <section class="content" style="margin-top:30px">

        <div class="container-fluid">

            <div class="row">

                @Html.Action("Partial1")

                <!-- /.col -->

                <div class="col-md-9">

                    <div class="card card-primary card-outline">

                        <div class="card-header">

                            <h3 class="card-title">Mesajı Oku</h3>

                            <div class="card-tools">

                                <a href="#" class="btn btn-tool" data-toggle="tooltip" title="Previous"><i class="fas fa-chevron-left"></i></a>

                                <a href="#" class="btn btn-tool" data-toggle="tooltip" title="Next"><i class="fas fa-chevron-right"></i></a>

                            </div>

                        </div>

                        <!-- /.card-header -->
                        @foreach (var x in Model)
                        {
                            <div class="card-body p-0">

                                <div class="mailbox-read-info">

                                    <h5>Konu: @x.KONU </h5>

                                    <h6>

                                        Gönderen: @x.GONDEREN

                                        <span class="mailbox-read-time float-right">Tarih: @Convert.ToDateTime(x.TARIH).ToString("dd/MM/yyyy") </span>

                                    </h6>

                                </div>

                                <div class="mailbox-read-message">

                                    Mesaj: @x.ICERIK

                                </div>

                            </div>
                        }
                        <div class="card-footer">

                            <div class="float-right">

                                <button type="button" class="btn btn-default"><i class="fas fa-reply"></i> Yanıtla</button>

                                <button type="button" class="btn btn-default"><i class="fas fa-share"></i> İlet</button>

                            </div>

                            <button type="button" class="btn btn-default"><i class="far fa-trash-alt"></i> Sil</button>

                            <button type="button" class="btn btn-default"><i class="fas fa-print"></i> Yazdır</button>

                        </div>

                        <!-- /.card-footer -->

                    </div>

                    <!-- /.card -->

                </div>

                <!-- /.col -->

            </div>

            <!-- /.row -->

        </div>

    </section>

    <script src=".~/AdminLTE-3.0.4/plugins/jquery/jquery.min.js"></script>

    <!-- Bootstrap 4 -->

    <script src=".~/AdminLTE-3.0.4/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- AdminLTE App -->

    <script src="~/AdminLTE-3.0.4/dist/js/adminlte.min.js"></script>

    <!-- AdminLTE for demo purposes -->

    <script src="~/AdminLTE-3.0.4/dist/js/demo.js"></script>

</body>

</html>







